<div id="edit_folder" class="modal">
  <div class="modal-contents vertical-container">
    <!-- Header -->
    <div class="layer">
      <div class="left">
        <h1> Edit folder </h1>
      </div>
      <div class="right">
        <button class="close-modal">
          <%= image_tag("close.svg", class: "icon black") %>
        </button>
      </div>
    </div>
    <div class="layer"></div>

    <!-- Main content -->
    <%= form_with(model: folder, local: false) do |form| %>
      <div class="layer">
        <div class="left"> 
          <%= form.label :name %>
          <%= form.text_field :name %>
        </div>
      </div>
      <div class="layer">
        <div class="left">
          <%= form.label :parent_id %>
          <% folder_collection = folders.select { |f| f[:user_created] && f != folder } %>
          <%= form.collection_select :parent_id,
                                      folder_collection,
                                      :id,
                                      :name,
                                      {include_blank: "No parent"} %>
        </div>
      </div>
      <!-- Footer -->
      <div class="layer"></div>
      <div class="layer right">
        <%= form.submit "Submit Changes", class: "close-modal" %>
      </div>
    <% end %>
  </div>
</div>
