<%= form_with(model: form_params[:folder_new],
              local: false) do |form| %>
  <%= form.hidden_field :user_created, value: true %>
  <% if form_params[:folder_new].errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(form_params[:folder_new].errors.count, "error") %> 
        prohibited this folder from being saved.
      </h2>

      <ul>
        <% form_params[:folder_new].errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="layer">
    <div class="left"> 
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>
  </div>
  <div class="layer">
    <div class="left"> 
    <%= form.label :parent_id %>
    <%= form.collection_select :parent_id,
                                form_params[:folders].select { |f| f[:user_created] },
                                :id,
                                :name,
                                {prompt: "No parent folder"} %>
    </div>
  </div>
  <div class="layer"></div>
  <div class="layer right">
    <%= form.submit "Submit Changes", class: "close-modal" %>
  </div>
<% end %>
