<button class="check-all">
  <%= image_tag("check-all.svg", class: "icon") %>
</button>
<button type="submit" 
        name="submission_data" 
        value="routeToDecoErrorUpdate"
        form="bulk_action"
        id="mark-as-read-button">
  <%= image_tag("eye.svg", class: "icon") %>
  <input form="bulk_action" 
          type="checkbox" 
          name="deco_error[read]" 
          value="1"
          id="mark_as_read"
          class="display-none">
</button>
<button type="submit" 
        name="submission_data" 
        value="routeToDecoErrorUpdate"
        form="bulk_action"
        id="mark-as-unread-button">
  <%= image_tag("eye-closed.svg", class: "icon") %>
  <input form="bulk_action" 
          type="checkbox" 
          name="deco_error[read]" 
          value="0"
          id="mark_as_unread"
          class="display-none">
</button>
<button type="submit" 
        name="submission_data" 
        value="routeToDecoErrorDestroy"
        form="bulk_action">
  <%= image_tag("trash.svg", class: "icon") %>
</button>
<button type="submit" 
        name="submission_data" 
        value="routeToApplicationRunRuleEngine"
        form="bulk_action">
  <%= image_tag("rule-engine.svg", class: "icon") %>
</button>
