<div id="add_deco_error" class="modal">
  <div class="modal-contents vertical-container">
    <div class="layer">
      <div class="left">
        <h1> Create error </h1>
      </div>
      <div class="right">
        <button class="close-modal">
          <%= image_tag("close.svg", class: "icon black") %>
        </button>
      </div>
    </div>
    <div class="layer"></div>

    <%= form_with url: "/deco_errors", method: :post do |form| %>
      <div class="layer left">
        <%= form.label :json %>
        <%= form.text_area :json %>
      </div>
      <div class="layer"></div>
      <div class="layer right">
        <%= form.submit "Submit", class: "close-modal"  %>
      </div>
    <% end %>
  </div>
</div>
