<%= form_with(model: form_params[:deco_error], 
              local: false) do |form| %>
  <% if form_params[:deco_error].errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(form_params[:deco_error].errors.count, "error") %> 
        prohibited this folder from being saved.
      </h2>

      <ul>
        <% form_params[:deco_error].errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="clarifier">
    Please input data in the following format.
    <br>
    {"title":"Testing user generated Error","release":"stable"}
  </div>
  <br>
  <div class="layer">
    <div class="left">
      <%= form.label :json %>
      <%= form.text_area :json %>
    </div>
  </div>
  <div class="layer"></div>
  <div class="layer right">
    <%= form.submit "Submit", class: "close-modal"  %>
  </div>
<% end %>