<% @deco_error_display_info.each do |category| %>
  <% category[:contents].each do |field_info| %>
    <div class="deco-error-layer">
      <% if field_info == category[:contents].first %>
        <div class="category"> <%= category[:title] %> </div>
      <% else %>
        <div class="category-no-border"></div>
      <% end %>
      <% if field_info[:field] == :action %>
        </div>
        <% next %>
      <% elsif field_info[:field] == :controller && 
               !@deco_error[:controller].nil? %>
        <div class="field-title">
          Controller#Action
        </div>
        <div class="field-data">
          <%= "#{@deco_error[:controller]}##{@deco_error[:action]}" %>
        </div>
        </div>
        <% next %>
      <% elsif field_info[:field] == :parameters && 
               !@deco_error[:parameters].nil? %>
        <div class="field-title">
          Parameters
        </div>
        <div class="field-data">
          <%= sanitize(ap @hashed_data[:parameters]) %>
        </div>
        </div>
        <% next %>
      <% elsif field_info[:field] == :session_data && 
               !@deco_error[:session_data].nil? %>
        <div class="field-title">
          Session Data
        </div>
        <div class="field-data">

          <%= sanitize(ap @hashed_data[:session_data]) %>
        </div>
        </div>
        <% next %>
      <% elsif field_info[:field] == :environment_variables && 
               !@deco_error[:environment_variables].nil? %>
        <div class="field-title">
          Environment Variables
        </div>
        <div class="field-data">
          <% enviro_var = @deco_error[:environment_variables] %>
          <% enviro_var.gsub!(/([A-Z_]+:)/, '<br>\1') %>
          <%= sanitize(enviro_var[4..-1]) %>
        </div>
        </div>
        <% next %>
      <% elsif field_info[:field] == :exception_stacktrace && 
               !@deco_error[:exception_stacktrace].nil? %>
        <div class="field-title">
          Exception Stacktrace
        </div>
        <div class="field-data">
          <% stacktrace = @deco_error[:exception_stacktrace] %>
          <% stacktrace.gsub!(/\n/, '<br>') %>
          <%= sanitize(stacktrace) %>
        </div>
        </div>
        <% next %>
      <% end %>
      <div class="field-title">
        <%= field_info[:descriptor] %>
      </div>
      <div class="field-data">
        <%= @deco_error[field_info[:field]] %>
      </div>
    </div>
  <% end %>
<% end %>
