<div class="layer">
  <div class="left">
    <h1><%= @filter.name %></h1>
    <%= link_to filter_path(id: @filter.id), 
                method: :delete,
                data: { confirm: "Are you sure?" },
                remote: true do %>
      <%= image_tag("trash.svg", class: "icon black") %>
    <% end %>
  </div>
</div>
<div id="edit-filter-form">
  <%= render partial: "/filters/edit",
           locals: {form_params: @edit_filter_form_params} %>
</div>

<!-- Rule section -->
<!-- Rule top bar -->
<div class="layer">
  <div class="left"> 
    <h1>Rules</h1>
    <button class="check-all">
      <%= image_tag("check-all.svg", class: "icon") %>
    </button>
    <button type="submit" 
            name="submission_data" 
            value="routeToRuleDestroy"
            form="bulk_action">
      <%= image_tag("trash.svg", class: "icon black") %>
    </button>
    <a class="modal-trigger" data-target="#new-rule" >
      <%= image_tag("plus.svg", class: "icon") %>
    </a>
    <%= render partial: "/shared/modal", 
               locals: {modal_id: "new-rule",
                        form_id: "new-rule-form",
                        title: "Create rule",
                        form_path: "rules/new",
                        form_params: @new_rule_form_params} %>
  </div>
</div>

<!-- Rule main content -->
<%= form_with url: "bulk_action",
                    method: :get,
                    id: "bulk_action", 
                    local: false do |form| %>
<% end %>
<% @rules.each do |rule| %>
  <div class="layer">
    <div class="left">
      <input type="checkbox" 
             value=<%= "#{rule.id}" %> 
             name="id[]" 
             id="id_<%= "#{rule.id}" %>"
             class="error-checkbox"
             form="bulk_action">
      <h3>
        <%= "Rule ID #{rule.id} matches '#{rule.value}' to error field 
             '#{rule.field}'" %>
      </h3>
      <a class="modal-trigger" data-target=<%= "#edit-rule-#{rule.id}" %>>
        <%= image_tag("pen.svg", class: "icon") %>
      </a>
      <%= render partial: "/shared/modal", 
                 locals: {modal_id: "edit-rule-#{rule.id}",
                          form_id: "edit-rule-#{rule.id}-form",
                          title: "Edit rule",
                          form_path: "rules/edit",
                          form_params: @edit_rule_form_params[rule.id.to_s]} %>
    </div>
  </div>
<% end %>
