<div id=<%= "edit_rule_#{rule.id}" %> class="modal">
  <div class="modal-contents vertical-container">
    <div class="layer">
      <div class="left">
        <h1> Edit rule </h1>
      </div>
      <div class="right">
        <button class="close-modal">
          <%= image_tag("close.svg", class: "icon") %>
        </button>
      </div>
    </div>
    <div class="layer"></div>

    <%= form_with model: rule, local: false do |form| %>
      <div class="layer">
        <div class="left">
          <%= form.label :field %>
          <%= form.select :field, @fields, { selected: rule.field } %>
        </div>
      </div>
      <div class="layer">
        <div class="left">
          <%= form.label :value %>
          <%= form.text_field :value, value: rule.value %>
        </div>
      </div>
      <div class="layer"></div>
      <div class="layer right">
        <%= form.submit "Submit" %>
      </div>
    <% end %>
  </div>
</div>
