<div class="nested-fields">
  <%= form.hidden_field :_destroy %>
  <%= form.hidden_field :filter_id, value: filter.id %>
  <div>
    <%= form.label :field %>
    <%= form.text_field :field %>
  </div>
  <div>
    <%= form.label :value %>
    <%= form.text_field :value %>
  </div>
  <div>
    <%= link_to "Remove", '#', class: "remove_fields" %>
  </div>
</div>